:root {
  --color-primary: #008080;
  --color-secondary: #ffe484;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-error {
  background-color: #ff0000;
}

.bg-warning {
  background-color: #e3bb1e;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary);
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #666666;
}

.border-primary {
  border-color: var(--color-primary);
}

.border-secondary {
  border-color: var(--color-secondary);
}
